.contentContainer {
  display: grid;
  place-items: center;

  background-color: var(--clr-grey-10);
}

.contentFeatures {
  display: flex;
  justify-content: space-between;

  padding: 3%;
  max-width: 1750px;
  margin: 0 auto;
}

.leftContent {
  width: 75%;
}

.leftContentTitle {
  font-size: var(--font-size-7);
  font-weight: 500;
}

.leftContentText {
  font-size: var(--font-size-2);
  font-weight: 500;

  margin-bottom: 10%;
}

.leftContentBtn {
  background: transparent;
  padding: 10px 120px 10px 120px;

  font-size: 20px;
  font-weight: 600;
}

.backIcon {
  font-size: 25px;
  margin-right: 10px;
}

.rightContentContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: auto;
  width: 100%;
  padding-left: 15%;
}

.rightContentInputBoxContainer {
  width: 100%;
}

.rightContentInputBox {
  width: 300px;
  height: 40px;

  margin: 0px 10px 60px 10px;
  padding-left: 5px;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--clr-black);
}

/* .rightContentInputBox input:focus {
  border-bottom: none;
} */

.rightContentMsgContainer {
  margin: 0px 10px 60px 10px;
}

.rightContentMsgHeader {
  font-size: 20px;
}

.rightContentMsgBox {
  height: 400px;
  width: 600px;
  padding-left: 5px;
  padding-top: 5px;

  background-color: transparent;

  border: 2px solid var(--clr-black);
}

.sendBtnContainer {
  margin-top: 10%;
}

.submitResult {
  color: green;
}

.sendBtn {
  background-color: #d5443f;
  font-size: 20px;
  color: #f1f1f1;

  padding: 15px 15%;
  border-radius: 10px;
  border: none;

  cursor: pointer;
}

.contentImage {
  width: 100%;
  height: 40vh;

  object-fit: cover;

  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.295);
  border-top: 2px solid var(--clr-black);
}

@media only screen and (max-width: 1200px) {
  .contentFeatures {
    flex-wrap: wrap;
    padding: 5%;
  }
  .leftContent {
    width: 100%;
    text-align: center;
  }
  .leftContentTitle {
    font-size: var(--font-size-6);
  }
  .leftContentText {
    font-size: var(--font-size-3);
  }
  .leftContentBtn {
    padding: 10px 60px 10px 60px;
    font-size: 18px;
  }
  .backIcon {
    font-size: 20px;
  }
  .rightContentContainer {
    padding-left: 0;
  }
  .rightContentInputBox {
    width: 250px;
    height: 35px;
    margin: 0px 10px 30px 10px;
    font-size: var(--font-size-2);
  }
  .rightContentMsgContainer {
    margin: 0px 10px 30px 10px;
  }
  .rightContentMsgHeader {
    font-size: 18px;
  }
  .rightContentMsgBox {
    width: 500px;
    height: 300px;
  }
  .sendBtn {
    padding: 10px 10%;
    font-size: 18px;
  }
  .contentImage {
    height: 30vh;
  }
}
