.ApplicationHeroContainer {
  display: grid;
  place-items: center;

  max-width: 100%;
}

.heroImg {
  margin: 5%;

  height: 50vh;
  width: 80%;

  object-fit: cover;

  position: relative;
}

.heroContent {
  position: absolute;
  width: 80%;

  background-color: #ffffff6d;
  padding: 10%;
}

.heroContent h3 {
  font-weight: 600;

  font-size: 35px;
}

.heroPets span {
  background-color: #9c9b9b9f;

  padding: 4px 30px 4px 30px;
  border-radius: 10px;

  font-weight: 500;
}

.iconContainer {
  display: flex;
  align-items: center;
}

.iconContainer p {
  font-weight: 600;
  font-size: 20px;

  margin-top: 15px;
  margin-left: 5px;
}

.icons {
  height: 40px;
}
