.brandsContainer {
  border-top: 1px solid red;

  /* margin: 0 10em 10em 10em; */
  margin: 0 10%;
}

.brandsFeatures {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* margin: 5em 10em; */
  margin: 2% 10% 5% 10%;
}

.brandsFeatures img {
  width: 10%;
}
