.footerContainer {
  border-top: 4px groove var(--clr-grey-8);
  background-color: var(--clr-grey-10);

  display: grid;
  place-items: center;
}

.footerFlex {
  display: flex;
  justify-content: space-between;

  width: 60%;
  margin: 6%;
}

.contentContainers li {
  text-decoration: none;
  list-style: none;

  margin: 5px 0 5px 0;
}

.footerTitles {
  margin-bottom: 15%;

  color: var(--clr-red-dark);
}

.iconsContainer {
  display: grid;
  place-items: center;
}

.socialsIcons {
  color: var(--clr-red-dark);
}

.facebook {
  margin: 10px;
  font-size: 30px;

  cursor: pointer;
}

.instagram {
  margin: 10px;
  font-size: 30px;

  cursor: pointer;
}

.copyright {
  font-size: 12px;

  padding: 10px;
}
