.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 50px 10%;
  height: 40px;
  width: 100%;

  background: var(--clr-white);
  border-bottom: 1px solid var(--clr-black);

  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  z-index: 39;

  /* position: fixed;
  z-index: 4000; */
}

.navImg {
  width: 250px;
  height: 70px;

  cursor: pointer;
}

.navbarLinks {
  display: flex;
  list-style: none;
}

.navbarLinks button {
  text-decoration: none;
  border: none;
  color: #000;
  font-weight: 700;
  font-size: 15px;
  padding: 0px 30px;

  background-color: var(--clr-white);

  /* cursor: pointer; */
}

.navbarLinks button:hover {
  color: var(--clr-red-dark);
}

.slarrow {
  padding-left: 5px;
  transition: 0.1s ease-in-out;
}

.slarrowActive {
  transform: rotate(180deg);
  transform-origin: center;
}

.dropdownMenu {
  position: absolute;
  z-index: 40;
  /* padding-top: 20px; */

  height: auto;
  width: 400px;
  padding-top: 25px;

  background-color: var(--clr-white);
}

.dropdownMenu li {
  list-style: none;
  text-align: left;

  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;

  color: var(--clr-black);
  text-decoration: none;
}

.dropdownMenu li:hover {
  text-decoration: underline;
}

.dropdownContainer {
  margin-top: 30px;
}

.dropdownText {
  padding-left: 5px;
  text-decoration: none;
}

/* .dropdownList {
  padding: 20px;
} */

.searchContainer {
  position: relative;
}

.searchIcon {
  font-size: 22px;

  position: absolute;

  right: 10px;
  top: 10px;

  cursor: pointer;
}

.searchBar {
  height: 45px;
  width: 350px;

  font-size: 0.8rem;

  padding-left: 5px;

  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.295);
}
