.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 50px 10%;
  height: 40px;
  width: 100%;

  background: var(--clr-white);
  border-bottom: 1px solid var(--clr-black);

  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  z-index: 39;

  /* position: fixed;
  z-index: 4000; */
}

.navImg {
  width: 250px;
  height: 70px;

  cursor: pointer;
}

.navbarLinks {
  display: flex;
  list-style: none;
}

.navbarLinks button {
  text-decoration: none;
  border: none;
  color: #000;
  font-weight: 700;
  font-size: 15px;
  padding: 0px 30px;

  background-color: var(--clr-white);

  /* cursor: pointer; */
}

.navbarLinks button:hover {
  color: var(--clr-red-dark);
}

.slarrow {
  padding-left: 5px;
  transition: 0.1s ease-in-out;
}

.slarrowActive {
  transform: rotate(180deg);
  transform-origin: center;
}

.dropdownMenu {
  position: absolute;
  z-index: 40;
  /* padding-top: 20px; */

  height: auto;
  width: 400px;
  padding-top: 25px;

  background-color: var(--clr-white);
}

.dropdownMenu li {
  list-style: none;
  text-align: left;

  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;

  color: var(--clr-black);
  text-decoration: none;
}

.dropdownMenu li:hover {
  text-decoration: underline;
}

.dropdownContainer {
  margin-top: 30px;
}

.dropdownText {
  padding-left: 5px;
  text-decoration: none;
}

/* .dropdownList {
  padding: 20px;
} */

.searchContainer {
  position: relative;
}

.searchIcon {
  font-size: 22px;

  position: absolute;

  right: 10px;
  top: 10px;

  cursor: pointer;
}

.searchBar {
  height: 45px;
  width: 350px;

  font-size: 0.8rem;

  padding-left: 5px;

  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.295);
}

.hamburger {
  display: none;
  cursor: pointer;
  margin: 0;
}

.hamburgerActive {
  margin: 0;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.1s ease-in-out;
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .navbarContainer {
    padding: 5%;
    position: fixed;
    background-color: transparent;
    border: none;
  }
  .navbarLinks {
    display: none;
  }

  .searchContainer {
    display: none;
  }

  .navImg {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active {
    right: 5%;
    background-color: rgba(255, 255, 255, 0.281);
  }

  .hamburgerActive .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }
  .hamburgerActive .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburgerActive .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navBtnsActive {
    position: fixed;
    width: 100%;
    left: 0%;
    top: 70px;
    display: flex;
    flex-direction: column;
    z-index: 40;
    background-color: #ffffff;
    align-items: center;

    font-size: 17px;
  }

  .slarrow {
    display: none;
  }

  .navBtnsActive button {
    background-color: transparent;
    border: none;
    padding: 1%;
    color: black;
  }

  .navBtnsActive button:hover {
    color: var(--clr-red-dark);
  }

  .dropdownMenu {
    display: none;
  }

  .dropdownMenu li {
    text-align: center;
  }
}
