.contentContainer {
  position: relative;

  padding: 5rem 3rem;
}

.contentFeatures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 1rem; */
  margin: 0 15%;
}

.contentImages {
  margin-top: 10%;
  width: 500px; /* set width of image container*/
  height: 400px; /* set height of image container*/

  margin-left: 25%;

  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.295);

  object-fit: fill;
}

.contentSection {
  margin-top: 10%;
  margin-left: 25%;
}

.contentTitles {
  color: red;
  font-size: var(--font-size-2);
}

.contentSubtitles {
  margin-bottom: 1.5rem;
}

.contentText {
  font-size: var(--font-size-1);
  font-weight: bold;

  width: 100%;

  margin-bottom: 3rem;
}

.findAgent {
  background-color: transparent;
  font-size: 1rem;
  font-weight: 600;

  padding: 1rem 4rem;
  border-radius: 10px;
  border: 2px solid var(--clr-red-dark);

  cursor: pointer;
}

.findAgent:hover {
  border: 2px solid var(--clr-red-light);
  color: var(--clr-red-dark);
}

.findRentals {
  background-color: #d5443f;
  font-size: 1rem;
  color: #f1f1f1;

  padding: 1rem 4rem;
  border-radius: 10px;
  border: none;

  cursor: pointer;
}

.findRentals:hover {
  background-color: #f86560;
}
