.footerContainer {
  display: grid;
  place-items: center;

  background-color: var(--clr-grey-10);
  border-top: 3px groove var(--clr-grey-8);
}

.socialsIcons {
  color: var(--clr-red-dark);
}

.facebook {
  margin: 10px;
  font-size: 20px;

  cursor: pointer;
}

.instagram {
  margin: 10px;
  font-size: 20px;

  cursor: pointer;
}

.copyright {
  font-size: 10px;

  padding: 10px;
}
