header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10%;
  background: #f1f1f1;
  height: 60px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
}

.navImg {
  width: 250px;
  height: 70px;
}

.navbarLinks {
  display: flex;
  list-style: none;
}

.navbarLinks li a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 15px;
  padding: 0px 30px;
}

.searchContainer {
  position: relative;
}

.searchIcon {
  font-size: 22px;

  position: absolute;

  right: 10px;
  top: 6px;
}

.searchBar {
  height: 35px;
  width: 300px;

  font-size: 0.8rem;

  padding-left: 5px;
}
