.personalDetailsContainer {
  max-width: 50%;
}

.personalDetailsTitle {
  font-size: 30px;
}

.inputForm {
  margin: 20px 20px 20px 0px;
  padding: 15px 5px 15px 5px;
  border-radius: 8px;
  width: 300px;
}

.inputEmail {
  margin: 20px 20px 20px 0px;
  padding: 15px 5px 15px 5px;
  border-radius: 8px;
  width: 640px;
}
